@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
fieldset {
    border: 2px solid #808080;
    width: 500px;
    margin: 100px auto;
        
    border-radius: 25px;
    box-shadow: 15px 15px 5px #808080;
}

    fieldset:hover {
        box-shadow: 0 0 15px #808080;
    }

legend {
    text-shadow: 5px -5px 5px #808080
}